.row 
{
justify-content: center;
height:95vh;
background-image: url(../assets/cityy.gif);
background-size: 100% 100%;
border-radius: 10px;

}
.main{
height: 95vh;
width: 100%;
background-image:url(../assets/api.gif);
color: white;

}
.divv
{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/PowerfulDiligentGodwit-small.gif);
    background-size: 100% 100%;
    position: relative;
    color: white;
}
.divv>h1
{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.addbtn
{
    /* height: 3rem; */
    /* width: 3rem; */
    /* padding: 5px; */
    background-color: transparent;
    color: white;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    font-size: 20px;
    left: 7rem;
    position: absolute;
    top: 6rem;
}
.question
{
    position: absolute;
    left: 20vw;
    top: 15vh;
    /* visibility: hidden; */
}
.question>input
{
    height: 2.6rem;
    width: 40vw;
    border: none;
    border-radius: 3px;

}
.question>button
{
    position: relative;
    top: 3rem;
    left: -20rem;
}
.options
{
    height: 50vh;
    width: 20vw;
    position: relative;
    top: 28vh;
    left: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.options>input
{
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 3px;
}
.correct
{
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 25vh;
    left: 29vw;
}
.correct>input
{
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    
}
.ml{
    font-size: 55px;
margin-left: 30%;
font-family: sans-serif;
font-style: oblique;

}
.hello
{
width: 130px;
    margin-left: 46%;
    margin-top: -37px;

}
.hello1{
    margin-left: 30%;
    margin-top: 330px;

}